@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --backgroundcolor: #0D0106;
  --primary: #FBFBFF;
  --secondaryBackground: #657ED4;
  --detail: #847E83;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox 
input[type=number] {
  -moz-appearance: textfield;
}*/

* {
  text-transform: capitalize;
  margin: 0;
}

body {
  margin: 0 auto 0;;
  background-color: var(--backgroundcolor);
  font-family: "Montserrat", sans-serif;
}

div.supremo {
  display: flex;
}

div.compiler {
  background-color: var(--backgroundcolor);
  color: var(--primary);
  padding-left: 30px;
  height: 100dvh;
  flex: 1;
  background: linear-gradient(to top right, #3626A7, #657ED4);
  max-width: 350px;
  
  h1 {
    margin: 22px 0;
  }
  
  input, select, button {
    all: unset;
    padding: 20px;
    background-color: var(--primary);
    margin: 10px;
    border-radius: 20px;
    transition: background 0.2s ease;
    width: 250px;
    color: var(--backgroundcolor);
  }

  input:hover, select:hover, button:hover {
    background-color: #847E83;
    transition: background 0.2s ease;
  }

  div#arrows {
    position: absolute;
    margin-left: 250px;
    margin-top: 40px;
    transition: all 0.1s ease-in;
  }

  div#arrows div {
    width: 13px;
    height: 2px;
    position: absolute;
    background-color: var(--primary); 
    transition: all 0.1s ease-in;
  }

  div#arrows :first-child {
    rotate: 45deg;
  }
  div#arrows :last-child {
    rotate: -45deg;
    margin-left: 8px;
  }
  /*
  input#trakit::after {
    content: '€';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--primary);  
  }*/
}

div.display {
  color: var(--primary);
  flex: 2;

  div.item {
      border: #847E83 solid 1px;
      margin: 40px;
      padding: 30px;
      border-radius: 30px;

      div.flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        padding: 30px;
        background: linear-gradient(to top right, #FF331F, #FF4633);
      }
  }

  
}
